/* - - - - - H E A D E R - - - - - */
header{
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 4rem;
	grid-template-areas: "settings logo menu";
}
.logo{
	display: grid;
	grid-template-columns: 4rem auto;
	grid-template-rows: 4rem;
	grid-template-areas: "B itCommerce";
	grid-area: logo;
	justify-content: center;
	align-items: center;
}
.logo__B{
	grid-area: B;
}
.logo__itCommerce{
	grid-area: itCommerce;
}

body{
	display: grid;
	grid-template-columns: minmax(600px, 960px);
	justify-content: center;
}

/* - - - - - M A I N - - - - - */
.moneyBar{
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto;
	grid-template-areas: "BitcoinPrice MyWallet";
	align-items: center;
}
.BitcoinPrice{
	grid-area: BitcoinPrice;
	justify-self: left;
}
.MyWallet{
	grid-area: MyWallet;
	justify-self: right;
}