/* ----- G R I D - - - - - */
.BitcoinPriceContainer{
	display: grid;
	grid-template-columns: auto auto;
	grid-row: auto;
	grid-column-gap: 2px;
}

/* - - - - - S T Y L E - - - - - */
.BitcoinPriceContainer{
	width: max-content;
}
.BitcoinPriceLogo{
	height: 50px;
	width: 50px;
}
.BitcoinPriceContainer p{
	margin: auto;
	font-weight: bold;
	font-size: 1.5rem;
}
.BitcoinPriceContainer p span{
	font-weight: normal;
	font-size: 1rem;
}