/* ----- G R I D - - - - - */
.BitcoinPrice{
	display: grid;
	grid-template-columns: auto auto;
	grid-row: auto;
	align-items: center;
}

/* - - - - - S T Y L E - - - - - */
.BitcoinPrice{
	width: max-content;
}
.BitcoinPrice__Logo{
	padding: 10px;
	height: 50px;
	width: 50px;
}
.BitcoinPrice p{
	font-weight: bold;
}
.BitcoinPrice span{
	font-size: 1rem;
	font-weight: normal;
}